# Properties docs: https://www.freedesktop.org/software/systemd/man/systemd.service.html
[Unit]
Description=fault daemon
After=network.target

[Service]
Type=forking
ExecStart=/usr/bin/fault --config /etc/daemons/fault.conf
ExecReload=/bin/kill -s SIGHUP $MAINPID
ExecStop=/bin/kill -s SIGTERM $MAINPID
User=root
StandardError=syslog
SyslogIdentifier=fault

[Install]
WantedBy=multi-user.target
